.div_menu {
  background-color: black;
  width: 100%;
}

.menu {
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.slider-div {
  text-align: center;
}

p {
  text-align: justify;
}

footer {
  background-color: black;
  width: 100%;
}

div.footer {
  text-align: center;
  color: white;
}

.footer-alamat {
  text-align: center;
  color: white;
  font-size: 14px;
}
